body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top: 6rem;
}

.status-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
}

.status-true {
    background-color: rgb(131, 18, 63);
}

.status-false {
    background-color: rgb(44, 94, 186);
}

.test-btn1 {
    color:rgb(18, 131, 39)
}

.test-btn2 {
    color: rgb(255, 0, 106)
}

.hr.my-4 {
    border: 2px solid #000 !important;/* 線の太さと色を指定 */
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.deleteButton {
    color: red;
}