{% extends "base.html" %}
{% load static %}

{% block title %}興味分野|ASCENSION{% endblock title %}
{% block active_interest_list %}active{% endblock active_interest_list %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/clean-blog.css' %}">
{% endblock head %}

{% block contents %}
<div class='container px-4 px-lg-5 my-div-style'>
    <div class='row gx-4 gx-lg-5 justify-content-center'>
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div>
                <h1>{{ request.user.username }}</h1>
                {% if  learningplan_list %}
                    <h2>{{ learningplan_list.0.learning_goal.title }}の学習プラン</h2>
                {% endif %}
            </div>
            {% for learning_plan in learningplan_list %}
                <div class='post-preview'>
                    <h3 class='post-title'>
                        {{ learning_plan.topic }}
                    </h3>
                    <hr class='my-4'>
                </div>
            {% empty %}
                <p>学習プランがありません。</p>
            {% endfor %}
            <div class="d-flex justify-content-end mb-4">
                <a class='btn btn-primary float-right' href="#学習アプリに移行">講義を受ける</a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}
