{% extends "ascension/base.html" %}
{% load static %}

{% block title %}学習目標|ASCENSION{% endblock title %}
{% block active_learning_goal %}active{% endblock active_learning_goal %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/clean-blog.css' %}">
{% endblock head %}


{% block contents %}
<div class='container px-4 px-lg-5 my-div-style'>
    <div>
        <h1 class='h-25'>{{ request.user.username }}さんの学習目標〜{{ category.name }}〜</h1>
    </div>
    <div class='row gx-4 gx-lg-5 justify-content-center'>
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for learning_goal in learning_goals %}
                <div class='post-preview'>
                    <a href="{% url 'ascension:learning_plan_list'  learning_goal_id=learning_goal.id %}">
                        <h2 class='post-title'>
                            {{ learning_goal.title }}
                        </h2>
                    </a>
                    <hr class='my-4'>
                </div>
            {% empty %}
                <p>{{ category }}の学習目標がありません。</p>
            {% endfor %}
            <div class="d-flex justify-content-end mb-4">
                <a class='btn btn-primary float-right' href="{% url 'ascension:create_learning_goal' category_id=category.id %}">新規作成</a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}