{% extends "ascension/base.html" %}
{% load static %}

{% block title %}リスト削除|ASCENSION{% endblock title %}

{% block contents %}
<div class='container my-div-style'>
    <div class='row text-center'>
        <form method="POST">
            {% csrf_token %}
            <p>カテゴリ"{{ category.name }}"を削除すると、これに含まれる全てのデータが削除されます。本当に削除しますか？</p>
            <button class='btn btn-primary mt-5' type='submit'>削除</button>
            <a class='btn btn-secondary mt-5' href="{% url 'ascension:interest_list' %}">キャンセル</a>
        </form>
    </div>
</div>
{% endblock contents %}
